<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ProximityMarketingBluetooth" connectionString="Data Source=43.255.152.25;Initial Catalog=AMBeacons;User ID=AMBeacons;Password=Yrpd0*20" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages enableEventValidation="false"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>